body {
  font-family: 'open sans', sans-serif;
  font-weight: 400;
}
p{
  line-height: 140%;
}
header {
  background: #FCF0F0;
  padding-bottom: 10px;
  padding-left: 10px;
  }

  button {
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }


.todo {
  color: #00A79D;
}
.box {
  color: #6D6E71;
}



.title-input,
.body-input,
.search-input {
    padding: 20px;
    color: #939598;
    font-size: 20px;
    margin: 20px auto;
    border: 4px solid #d1d3d4;
    width: 60%;
    display: flex;
    justify-content: space-between;

}



.title-input:focus {
  outline-style: auto;
  outline-color: #00A79D;
}
.body-input:focus {
  outline-style: auto;
  outline-color: #00A79D;
}
.save-btn:focus {
  outline-style: auto;
  outline-color: #00A79D;
}
.search-input:focus {
  outline-style: auto;
  outline-color: #00A79D;
}

.save-btn{
  height: 40px;
  width: 60%;

  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 18px;
  outline: none;

  padding: 20px;
  color: #939598;
  font-size: 20px;
  margin: 20px auto;
  border: 4px solid #d1d3d4;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.save-btn:hover {
  background-color: #045E55;
}

.save-btn:disabled {
  background-color: #D1D3D4;
}

.search-section {
  display: flex;
  flex-direction: column;
}

.filter-container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.importance-button {
  height: 40px;
  width: 80px;
  border: none;
  background: #E5F3F2;
  color: #6D6E71;
  font-size: 16px;
  margin-bottom: 10px;
}

.importance-button:hover {
  background-color: #045E55;
  color: #FFFFFF;
}

.clear-filter-btn {
  height: 40px;
  width: 80px;
  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 16px;
}




.body {
  text-align: left;
}
.body-text{
  color: #939598
}
.quality {
  color: #6D6E71;
  margin-left: 1.2em;
  display: inline-block;
  font-family: 'roboto slab', sans-serif;
  letter-spacing: .04em;
}
.todo-card {
  width: 66%;
  margin: auto;
}

hr {
  color:#D1D3D4;
  margin-top: .75em;
}
.upvote-btn,
.downvote-btn,
.quality-div,
.quality{
  display: inline-block;
}
.quality-div{
  margin: 0 0 .25em .75em
}
.delete-btn{
  height: 1.5em;
  width: 1.5em;
  float: right;
  display: inline-block;
  background-image: url(../images/delete.svg)
}
#delete,
#upvote,
#downvote {
  height: 1.5em;
  width: 1.5em;
}
#delete:hover {
  background-image: url(../images/delete-hover.svg);
}
#upvote {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    background-image: url(../images/upvote.svg)
}
#upvote:hover {
  background-image: url(../images/upvote-hover.svg)
}
#downvote {
  margin-left: .75em;
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  background-image: url(../images/downvote.svg)
}
#downvote:hover {
  background-image: url(../images/downvote-hover.svg)
}

 .ratings{
   display: flex;
   align-content: center;
 }


.ratings,
.body-text {
  margin: .25em 0 1em 0;
}
